
.container_1{
   /*not used */
}
.container{
    width: 760px;


   
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* padding: 5px 30px 10px 30px; */

    border: 1px solid gainsboro;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2); */
    
}

.container .box{
  
 width: 620px;
 /* height: 350px; */
 height: 250px;
 
  background: #fff;

  margin-left: 20px;
  /* padding: 10px 20px; */
  /* padding: 5px 10px; */
   cursor: pointer;
   /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2); */
 
}

 .content{
   display: flex;
    align-items: center;
    max-width: 100%;

}

.box button {
    /* margin-top: 5px; */
    
    padding: 5px 0px;
    border: none;
    outline: none;
    background: none;
    color: #050505;
    cursor: pointer;
    font-weight: 500;
}

.img_box img{
    /* width: 250px;
     height: 300px; */
     width: 200px;
     height: 250px;
     overflow: hidden;
}

.detail {
 
    margin-left: 20px;
    width: 550px;
    /* height: 300px; */
    height: 250px;
    display: flex;
flex-direction: column;
justify-content: space-between;

}




.nameDiv{
    max-width: 550px;
    height: 250px;
}
.ratingRate{
    width: 37px;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
  background: #388e3c;
  
}

.description{
    margin-top: 10px;
    height: 100px;
}

.priceDiv{
    max-width: 300px;
    height: 25px;
    color: black;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.percentageOff{

    color: #388e3c;
    font-size: 15px;
    letter-spacing: -.2px;
  
    font-weight: 600;
}



.info h3{
    text-align: start;
    justify-content: space-between;
     color: #000000;
     text-transform: uppercase;
     font-weight: 600;
     /* margin: 1px auto; */
     padding: 10px 0;
}

.info :hover h3{
    color: #2874f0;
}

.quantityContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 305px;
}

.quantityDiv{
    display: flex;
    align-items: center;
    

}

.quantityDiv span {
    /* font-size: 16px;
  margin: 0 5px; */
  display: inline-block;
  padding: 3px 6px;

  height: 80%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  margin: 0 5px;
  }


  
  .quantityDiv button {
  width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
    text-align: center;
  }
  .quantityDiv button:hover {
    background-color: #0056b3;
  }
  

.mainDiv{
  
    max-width: 100pc;
    margin: 20px auto auto auto;

    
}

.sectionDiv {
    background-color: white;
    width: 800px;
    height: 760px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sectionDiv::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.mainContainer{
   
   display: flex;

   /* overflow: scroll; */
   scroll-behavior: smooth;

   max-width: 1260px;
   margin: 20px auto;
   
   /* height: 560px; */
   overflow-y: hidden;  
    /* overflow: scroll;
     overflow-y: hidden;  */
 /* overflow-x: hidden;  */
  margin: auto;
   
   /* overscroll-behavior: inherit; */

}

.itemsDiv{
    height: 500px;
}

.orderDiv{
    position: sticky;
   top: 4px;
    bottom: 0;
    z-index: 2;



    width: 800px;
    height: 80px;
   
   margin-left: 130px;
    background: #fff;
    box-shadow: 0 7px 4px 0 gainsboro;
    /* position: fixed; */
    /* position: fixed; */
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
   
   
}

.orderDiv button {
  
    font-size: large;
    font-weight: 500;
   height: 60px;
   width: 150px;
border-radius: 4px;
border-color: none;
border: 0px;
   
   padding: 20px 15px;
   background-color: orangered;

   margin: 10px 10px 0px ;

   
   
}



.accountCart{
    
   
    position: fixed;
   top: 70px;
    
  
    width: 400px;
    height: 300px;
 
    
    /* margin-left: 820px; */
    margin-left: 1000px;
    text-align: left;

    background: #fff;
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}


   


.accountCartChild{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 350px;
    height: 250px;
    margin: auto;
    margin-top: 15px;
  
    

}

.accountCart h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.accountCart h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100;
}





.missingCartContainer{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
    
}


.missingCartDiv{
    width: 1300px;
  height: 400px;
    margin: 20px auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.missingCartDiv img{
    width: 220px;
    height: 162px;
}

.missingCartDiv h1 {
    display: block;
    font-size: 18px;
    margin-top: 24px;
}



.accountSpaceDiv{
    display: flex;
    justify-content: space-between;
}

.accountSpaceDiv h3{
    font-size: medium;
}







