
.mostOuterDiv{
 
    display:  grid;
    width: 1500px;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto, 600px);
    justify-content: space-evenly;
    overflow: hidden;
    gap: 1rem;
}

.outerDiv{
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
 

}


.specialOuterDiv{
    width: 1500px;
    margin: 0 auto;
}

/* .specialDiv{
    height: auto;
    width: 1500px;
    margin: 0 auto;
    background: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
    z-index: 0;
   
} */

/* .scrollButton {


    background-color: #c0cbd6;
    color: rgb(246, 245, 245);
    border: none;
  
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: 80px;
    width: 30px;
}

.scrollButton.left {
    left: 0;
}

.scrollButton.right {
    right: 0;
} */

/* .specialContainer{

    width: 1500px;
    margin: 0 auto;
    height: 340px;
     padding: 10px;    
     display: flex;
 
    align-items: baseline;
  
 
  
    /* margin-top: 30px; */
    /* gap: 1rem;
   
  
    background: white;
   
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
   /* -ms-overflow-style: none;
} */
/*.specialContainer .box{
  
    /* width: 250px;
    height: 360px; */
 /*    width: 180px;  /*changes*/
 /*  height: 290px; 

     background: #ffffff;
   
     padding: 5px 10px;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid rgb(159, 157, 157);
      
   
      
   
   } */
   /* .specialContainer .box .content{
   
    align-items: center;
    max-width: 100%;

} */


/* .specialContainer .img_box:hover img{
    width: 195px;
    height: 245px; 

    overflow: hidden;
} */



.container{
   
   max-width: 90pc;
    margin: 0 ;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    
    /* margin-top: 30px; */
    gap: 1rem;
    margin-bottom: 40px;
    margin-top: 10px;
    
 
}


.categoryNameDiv{
    background: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.categoryNameDiv a{
    text-decoration: none;
}

.categoryNameDiv:hover h2{
    color:#2874f0;
}

.categoryName {
  color: rgb(1, 1, 14);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}

.categoryBtn{
    background: #2874f0;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 4px 8px;
    border: none;
    font-weight: 700;
    
}

/* 
.container .box{
  

 width: 200px;
 height: 300px; 

 /* width: 180px;
 height: 240px; */
 /*
  overflow: hidden;
  background: #ffffff;

  padding: 5px 10px;
   cursor: pointer;
   border-radius: 4px;
   border: 1px solid rgb(159, 157, 157);
   margin-left: 10px;
   

   

}

.container .box .content{
   
    align-items: center;
    max-width: 100%;

}


.img_box {
   
    width: 200px;
    height: 250px;

}
.img_box img{
    
     width: 200px;
     height: 250px;
     /* width: 180px;
     height: 200px; */
   /*  overflow: hidden;
    

}

.container .img_box:hover img{
     width: 206px;
     height: 256px; 

     overflow: hidden;
}


.info{
    max-width: 200px;
    height: 60px;
    overflow: hidden;
 
    
    

}




.percentageOff{
   
    color: #388e3c;
    font-size: 16px;
    letter-spacing: -.2px;
  
    font-weight: 600;
}


.rating{
    width: 50px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    
    
}

.ratingRate{
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
  background: #ff9f00;
  
}

.ratingCount{
   font-size: smaller;
   color: #a09d9d;
}

.priceDiv {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
 
 
  
    
}


.actualPrice{
   margin-left: 4px;
    text-decoration: line-through;
    font-weight: lighter;
    color: #bab6b6;

}


.info h3{
     color: #211e1e;
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 200;
     display: -webkit-box;
     -webkit-line-clamp: 1; /* Set the desired number of lines */
   /*  -webkit-box-orient: vertical;
     overflow: hidden;
     
}
 */
