*{
    margin: 0;
}

.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  
    background-color:#2874f0;
    max-width: 100%;
  
    height: 50px;

    border-radius: 3px;
    
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.linkContainer{
   display: flex;
   align-items: center;
   font-size: 18px;
}

.linkContainer h3{
    margin-left: 2px;
   font-weight: 500;
    font-size: 20px;
}

/* .cartIcon{
font-size: larger;
font-weight: 700;
} */

.navItem{
    max-width: 1248px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
    z-index: 10;
}
 .search_box{
    position: relative;
    display: inline-block;
    border-radius: 4px;
    
    border: 0;
    outline: 0 none;
    font-size: 17px;
    height: 40px;
    width: 60%;
    background-color: #fff;
}

body{
    scroll-behavior: smooth;
}



.input{
    padding: 8px 12px;
  
    border-radius: 4px;

    border: 0;
    outline: 0 none;
    font-size: 17px;
    height: 40px;
    width: 95%;
    background-color: #fff;
    
}
.icon {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: x-large;
    
}

/* .login_div{
    color: #fff;

    display: flex;
    
    align-items: center;
    cursor: pointer;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;

} */
.login_link{
    color: #f1f3f6;
    cursor: pointer;
   
}
.img{
    height: 20px;
    width: 75px;
}