
.conatiner{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px 30px;
}

.conatiner .box{
  
 width: 250px;
 height: 360px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 20px;
   cursor: pointer;
   border-radius: 4px;

   

}

.conatiner .box .contant{
   
    align-items: center;
    max-width: 100%;

}


.img_box {
    width: 250px;
    height: 300px;

}
.img_box img{
    width: 250px;
     height: 300px;
     overflow: hidden;
}



.info{
    max-width: 250px;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

}

.rating{
    width: 50px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    
    
}

.ratingRate{
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
  background: #ff9f00;
  
}

.ratingCount{
   font-size: smaller;
   color: #a09d9d;
}

.priceDiv {
    
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    

 
  
    
}

.percentageOff{
    align-self: center;
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    margin-left: 4px;
    font-weight: 600;
}

.actualPrice{
   margin-left: 4px;
    text-decoration: line-through;
    font-weight: lighter;
    color: #bab6b6;

}


.info h3{
     color: #fe4a55;
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 200;
     display: -webkit-box;
     -webkit-line-clamp: 1; /* Set the desired number of lines */
     -webkit-box-orient: vertical;
     overflow: hidden;
     
}

.deatil button{
    margin-top: 5px;
    margin-left: 120px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: #2874f0;
    color: #fff;
    cursor: pointer;
}

.detail_container{
    position: fixed;
    z-index: 1;
    align-items: center;
    width: 600px;
    background: #fff;
    margin-left: 30%;
    margin-bottom: 20%;
    box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;
    border: 1px solid #e8e8e8;
    padding: 20px 30px;
    border-radius: 5px;
}

.d_contant{
    max-width: 100%;
}

.detail_info {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.detail_info img{
    width: 250px;
    height: 250px;
}

.d_pro_info{
    margin-left: 30px;
}

.d_pro_info h3{
    color: #2874f0;
    text-transform: uppercase;
    font-weight: 200;

}

.d_pro_info p {
    margin-top: 10px;
    margin-right: 30px;
    color: #050505;
}

.d_pro_info button {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    background: #2874f0;
    color: #000;
    cursor: pointer;
}

.close{
    border: none;
    outline: none;
    text-align: center;
    background-color: #0a49b0;
    color: #fff;
    cursor: pointer;
}