


/* card here */
/* .card-parent{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: calc(100vh - 42px);

} */
body{
    background-color: rgb(220, 217, 217);
    margin: 0 ;
}